.App {
  font-family: sans-serif;
  text-align: center;
}
.tabs {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  flex-wrap: wrap;
}

.btn {
  margin-right: 8px;
}

.btn-active {
  margin-right: 8px;
  /* background-color: lightblue; */
}

.view {
  margin-top: 8px;
}
